* {
  box-sizing: ;
} 

h1 {
  font-family: 'Pangolin', cursive;
}

div {
  font-family: cursive;
}

div .mainContent {
  margin: 15px 10px 15px 10px;
}

div .background {
  background-color: #b79dea;
  border: 7px solid green;
  margin: 3px;
  padding: 0px 0px 4px 4px;
}

#contenedor1 {
  color: red;
}

#contenedor2 {
  color: white;
}

#contenedor3 {
  color: blue;
}

.main-boxes {
  width: 100%;
}

.other-box {
  width: 100%;
}

.titulo {
  font-family: fantasy;
  font-size: 1.5em;
}

.header-font {
  font-size: 1.7em;
  padding: 6px 5px 6px 5px;
  font-family: 'tahoma', serif;
  text-transform: uppercase;
}

.navbar-default {
  background-color: green;
  color: white;
}

.optionSubtitles {
  text-align: center;
  font-size: 1.3em;
}

@media (min-width: 1200px) {
  .container {
    height: 675px;
  }

  .main-boxes {
    width: 32%;
  }

  .other-box {
    width: 32%;
  }

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    height: 558px;
  }

  .main-boxes {
    width: 49%;
  }

  .other-box {
    width: 98%;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    height: 432px;
  }
}